<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý loại đề tài</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/styleAdmin.css" rel="stylesheet">

    <link href="/scss/style.scss">
</head>

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!--Begin: SideBar-->
    <div th:replace="~{common/SidebarAdmin :: SidebarAdmin}"></div>
    <!--End: SideBar-->

    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
            <a href="Dashboard_Admin.html" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>
            <form class="d-none d-md-flex ms-4">
                <input class="form-control border-0" type="search" placeholder="Search">
            </form>
            <div class="navbar-nav align-items-center ms-auto">
                <div class="nav-item dropdown">
                    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="/static/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                    <small>15 minutes ago</small>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="/static/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                    <small>15 minutes ago</small>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="/static/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                    <small>15 minutes ago</small>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item text-center">See all message</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-bell me-lg-2"></i>
                        <span class="d-none d-lg-inline-flex">Notificatin</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item">
                            <h6 class="fw-normal mb-0">Profile updated</h6>
                            <small>15 minutes ago</small>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <h6 class="fw-normal mb-0">New user added</h6>
                            <small>15 minutes ago</small>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <h6 class="fw-normal mb-0">Password changed</h6>
                            <small>15 minutes ago</small>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item text-center">See all notifications</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <span class="d-none d-lg-inline-flex">John Doe</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                        <a href="index.html" class="dropdown-item">Đăng xuất</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->


    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-light navbar-light">
            <a href="Dashboard_Admin.html" class="navbar-brand mx-4 mb-3">
                <img class = "logo-fit" src="/static/img/logo-cntt2021.png">
            </a>
            <div class="d-flex align-items-center ms-4 mb-4">
                <div class="position-relative">
                    <img class="rounded-circle" src="/static/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                    <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                </div>
                <div class="ms-3">
                    <h6 class="mb-0">Jhon Doe</h6>
                    <span>Admin</span>
                </div>
            </div>
            <div class="navbar-nav w-100">
                <a href="Dashboard_Admin.html" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Trang của tôi</a>
                <a href="profileAdmin.html" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Thông tin cá nhân</a>
                <a href="QuanLySV.html" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Quản lý Sinh Viên</a>
                <a href="QuanLyGV.html" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Quản lý Giảng viên</a>
                <a href="QuanLyDeTai_Admin.html" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Quản lý Đề tài</a>
                <a href="QuanLyDotDK.html" class="nav-item nav-link active"><i class="fa fa-keyboard me-2"></i>Quản lý Đợt đăng ký</a>
                <a href="QuanLyChuyenNganh.html" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Quản lý Chuyên ngành</a>
                <a href="QuanLyNienKhoa.html" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Quản lý Niên khóa</a>
            </div>
        </nav>
    </div>
    <!-- Sidebar End -->

        <p>Quản lý Đợt Đăng kí đề tài</p>
        <!-- Table Sinh Vien Start-->
        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Search..." onkeyup="searchTable('searchInput', 'DotDKList')">
            <button id="add-btn" class="buttonAddFormWrapper" onclick="hienThiForm()">Thêm</button>

        </div>


        <div class="container-fluid pt-5">
            <h2>Danh sách Đợt đăng ký</h2>

            <!-- Kiểm tra xem có danh sách lớp học hay không -->
            <th:block th:if="${period != null and period.size() > 0}">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Bắt đầu</th>
                        <th>Kết thúc</th>
                        <th>Tên</th>
                        <th>Chỉnh sửa</th>
                        <!-- Thêm các cột khác nếu cần -->
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Duyệt qua danh sách lớp học và hiển thị thông tin -->
                    <tr th:each="periods : ${period}">
                        <td th:text="${periods.periodId}"></td>
                        <td th:text="${periods.registrationTimeStart}"></td>
                        <td th:text="${periods.registrationTimeEnd}"></td>
                        <td th:text="${periods.registrationName}"></td>
                        <td>
                            <!-- Nút chỉnh sửa với href chứa đường dẫn đến trang chỉnh sửa -->
                            <a th:href="@{'/api/admin/Period/' + ${periods.periodId}}" class="btn btn-info btn-sm">Chỉnh sửa</a>
                        </td>
                        <!-- Thêm các cột khác nếu cần -->
                    </tr>
                    </tbody>
                </table>
            </th:block>
        <div class="message" id="message"></div>
        <table id="DotDKList"  class="table-info" style="width:100%" border="1">
            <tr>
                <th>ID</th>
                <th>Tên Loại Đề Tài</th>
                <th>Actions</th>
            </tr>
            <tr th:each="typeSub : ${listType}">
                <td th:text="${typeSub.typeId}"></td>
                <td th:text="${typeSub.typeName}"></td>
                <td>
                    <button class="edit-bt"><i class="fas"></i>Danh sách đề tài</button>
                    <button class="edit-btn" onclick="editRow(this)"><i class="fas fa-edit"></i></button>
                    <button class="delete-btn" onclick="deleteRow(this)"><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
        </table>

            <form id="createPeriodForm" th:action="@{/api/admin/Period/create}" method="post" enctype="application/json">
                <div class="form-group">
                    <label for="periodName">Tên đợt đăng ký:</label>
                    <input type="text" class="form-control" id="periodName" name="periodName" required/>

                    <label for="timeStart">Thời gian bắt đầu:</label>
                    <input type="text" class="form-control" id="timeStart" name="timeStart" required/>

                    <label for="timeEnd">Thời gian kết thúc:</label>
                    <input type="text" class="form-control" id="timeEnd" name="timeEnd" required/>
                </div>

                <button type="submit" class="btn btn-primary">Đăng ký</button>
            </form>
        </div>

        <!-- Table Sinh Vien Start-->
    </div>
    <!-- Content End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>



<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Template Javascript -->
<script src="/js/main2.js"></script>
</body>
</html>