<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="utf-8">
    <title>Hệ thống Admin</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template Stylesheet -->
    <link href="/css/styleAdmin.css" rel="stylesheet">
</head>

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!--Begin: SideBar-->
    <div th:replace="~{common/SidebarAdmin :: SidebarAdmin}"></div>
    <!--End: SideBar-->

        <!-- Content Start -->

            <p>Quản lý Sinh viên</p>
            <!-- Table Sinh Vien Start-->
            <div class="search-container">
                <input type="text" id="searchInput" placeholder="Search..." onkeyup="searchTable('searchInput', 'myTable')">
                <button id="add-btn" class="buttonAddFormWrapper" onclick="hienThiForm()">Thêm</button>

            </div>


        <h2>Danh sách Sinh viên</h2>

        <!-- Kiểm tra xem có danh sách lớp học hay không -->
        <th:block th:if="${students != null and students.size() > 0}">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên sinh viên</th>
                    <th>Trạng thái</th>
                    <th>Email</th>
                    <th>Lớp</th>
                    <th>Niên khóa</th>
                    <th>Số điện thoại</th>
                    <th>Chuyên ngành</th>
                    <th>Đề tài</th>
                    <th>Chỉnh sửa</th>
                    <!-- Thêm các cột khác nếu cần -->
                </tr>
                </thead>
                <tbody>
                <!-- Duyệt qua danh sách lớp học và hiển thị thông tin -->
                <tr th:each="student : ${students}">
                    <td th:text="${student.studentId}"></td>
                    <td th:text="${student.personId.getFirstName() + student.personId.lastName}"></td>
                    <td th:text="${student.personId.status}"></td>
                    <td th:text="${student.personId.username}"></td>
                    <td th:text="${student.studentClass.classname}"></td>
                    <td th:text="${student.schoolYear.year}"></td>
                    <td th:text="${student.personId.phone}"></td>
                    <td th:text="${student.major}"></td>

                    <td th:if="${student.subjectId != null}" th:text="${student.subjectId.subjectName}" th:else="0"></td>

                    <td>
                        <!-- Nút chỉnh sửa với href chứa đường dẫn đến trang chỉnh sửa -->
                        <a th:href="@{'/api/admin/studentClass/' + ${student.studentId}}" class="btn btn-info btn-sm">Chỉnh sửa</a>
                    </td>
                    <!-- Thêm các cột khác nếu cần -->
                </tr>
                </tbody>
            </table>
        </th:block>


        <div class="container-fluid pt-5">
            <form id="ClassForm" th:action="@{/api/admin/student/create}" method="post" enctype="application/x-www-form-urlencoded">
                <div class="form-group">

                    <label for="personId">Mã sinh viên:</label>
                    <input id=personId name="personId" type="text" class="form-control" required/>

                    <label for=firstName>Họ:</label>
                    <input id=firstName name="firstName" type="text" class="form-control" required/>

                    <label for=lastName>Tên:</label>
                    <input id=lastName name="lastName" type="text" class="form-control" required/>

                    <label for=email>Email:</label>
                    <input id=email name="email" type="text" class="form-control" required/>

                    <label for=phone>Số điện thoại:</label>
                    <input id=phone name="phone" type="text" class="form-control" required/>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" id="male" value="0" required>
                        <label class="form-check-label" for="male">Nam</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="1" required>
                        <label class="form-check-label" for="female">Nữ</label>
                    </div>

                    <div class="form-check">
                    <input class="form-check-input" type="radio" name="major" id="AnToanThongTin" value="AnToanThongTin" required>
                    <label class="form-check-label" for="AnToanThongTin">An toàn thông tin</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="major" id="CongNghePhanMem" value="CongNghePhanMem" required>
                        <label class="form-check-label" for="CongNghePhanMem">Công nghệ phần mềm</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="major" id="HeThongThongTin" value="HeThongThongTin" required>
                        <label class="form-check-label" for="HeThongThongTin">Hệ thống thông tin</label>
                    </div>


                    <label for=birthDay>Ngày sinh:</label>
                    <input id=birthDay name="birthDay" type="text" class="form-control" required/>


                    <label for=classId>Lớp:</label>
                    <select type="text" name=classId class="form-control" id="classId" th:field="${listClass}">
                        <option type="text" name=classId th:each="classOption : ${listClass}" th:value="${classOption}" th:text="${classOption.classname}"></option>
                    </select>

                    <label for=year>Niên khóa:</label>
                    <select type="text" name="year" class="form-control" id="year" th:field="${listYear}">
                        <option type="text" name="year" th:each="yearOption : ${listYear}" th:value="${yearOption}" th:text="${yearOption.year}"></option>
                    </select>

                </div>

                <button type="submit" class="btn btn-primary">Lưu sinh viên</button>
            </form>
        </div>

            <!-- Table Sinh Vien End -->
            <!-- Content End -->
            <!-- Back to Top -->
            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Template Javascript -->
        <script src="/js/main2.js"></script>
        <script src="/js/Data_Management.js"></script>

</body>
</html>